

.btn {
    padding: 8px 32px;
    border: 2px solid;
    border-radius: var(--border-radius-btn, 20px);
    font-size: var(--font-body-size);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;


    &.primary {
        background-color: var(--color-primary);
        color: var(--color-text-light);
        border: 2px solid var(--color-primary);



        &:hover {
            background-color: transparent;
            color: var(--color-primary);
        }
    }

    &.primary-inv {
        background-color: transparent;
        color: var(--color-primary);
        border: 2px solid var(--color-primary);


        &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-light);
        }
    }

    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-text-dark);
        border: 2px solid var(--color-secondary);

        &:hover {
            border: 2px solid var(--color-primary);
            background-color: var(--color-primary);
            color: var(--color-secondary);
        }
    }

    &.secondary-inv {
        background-color: transparent;
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);


        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-text-dark);
        }
    }

    &.accent {
        background-color: var(--color-accent);
        color: var(--color-text-dark);
        border: 2px solid var(--color-accent);

        &:hover {
            background-color: transparent;
            color: var(--color-accent);
        }
    }

    &.accent-inv {
        background-color: transparent;
        color: var(--color-accent);
        border: 2px solid var(--color-accent);


        &:hover {
            background-color: var(--color-accent);
            color: var(--color-text-dark);
        }
    }
}