/* --- Colors --- */

.bg {

    &-primary { 
        background-color: var(--color-primary); 
    }

    &-secondary { 
        background-color: var(--color-secondary); 
    }

    &-white {
        background-color: #fff; 
    }

    &-background { 
        background-color: var(--color-background);
    }

    &-accent {
        background-color: var(--color-accent);
    }
}

.text {

    &-light { 
        color: var(--color-text-light); }

    &-dark { 
        color: var(--color-text-dark); }
    
    &-accent { 
        color: var(--color-accent); 
    }
}